@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat', sans-serif;
}

.social {
    padding-inline: 1rem;
    display: flex;
    margin-top: 15px;
    
}

.social li a {
    font-size: 2rem;
    padding: 0;
    width: 5rem;
    background: none;
    margin: 10px
}

.social li {
    list-style: none;
}

